<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand mx-auto" href="/">Free QR Code Generator</a>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<footer class="footer mt-auto py-3">
    <div class="container text-center">
        Made by Abhishek <br>
        <a href="https://www.linkedin.com/in/abhishek-saud/" target="_blank">
            <img src="{{ url_for('static', filename='linkedin.png') }}" alt="LinkedIn" style="width: 30px;">
        </a>
        <a href="https://github.com/Aviisaud" target="_blank">
            <img src="{{ url_for('static', filename='github.png') }}" alt="GitHub" style="width: 30px;">
        </a>
    </div>
</footer>

</body>
</html>
